@font-face {
    font-family: 'NeueBit';
    src: url('NeueBit-Bold.woff2') format('woff2'),
        url('NeueBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

